@using Blo.Properties
@using Model
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Scripts {
    <script type="text/javascript">
        $(document).ready(function () {
            var grid;


            //PERMITE LLENAR LOS CAMPOS CONSUS CORESPONDIENTES VALORES
            function Edit(e) {
                $("#ID").val(e.data.record.ID);
                $("#NOMBRE").val(e.data.record.NOMBRE);
                $("#DESCRIPCION").val(e.data.record.DESCRIPCION);

                if (e.data.record.ALERTA_NOTIFICADA == "1")
                    $("#ALERTA_NOTIFICADA").prop("checked", true);
                if (e.data.record.ALERTA_ANALIZADA == "1")
                    $("#ALERTA_ANALIZADA").prop("checked", true);
                if (e.data.record.ALERTA_OFICIO == "1")
                    $("#ALERTA_OFICIO").prop("checked", true);
                if (e.data.record.ALERTA_PERSONA_LISTA == "1")
                    $("#ALERTA_PERSONA_LISTA").prop("checked", true);
                if (e.data.record.ALERTA_PERFIL_TRANSACCIONAL == "1")
                    $("#ALERTA_PERFIL_TRANSACCIONAL").prop("checked", true);
                
                $("#ID_PERMISO").selectpicker('val', e.data.record.ID_PERMISO);
                $("#myModal").modal("show");
            }


            //REALIZA LA LLAMADA A UN MODAL PARA UN NUEVO REGUISTRO
            function Add() {
                $("#ID").val(""); //campos ocultos
                $("#ID_PERMISO").selectpicker('val', '');
                $("#myModal").modal("show");
            }


            //EVENTO PARA ELIMINAR UN REGISTRO
            function Remove(e) {
                bootbox.confirm("@PropertiesBlo.msgConfirmacion", function (result) {
                    if (result) {
                        $.ajax({ url: "../Roles/Remove", type: "POST", data: { id: e.data.record.ID } })
                      .done(function (data, textStatus, jqXHR) {
                          grid.reload();
                          Mensajes(data.mensaje);
                      })
                      .fail(function (data, textStatus, jqXHR) {
                          $().toastmessage('showErrorToast', '@PropertiesBlo.msgFallo');
                      });
                    }
                });
            }


            //AQUI SE ESTABLACEN LAS PROPIEDADES Y EVENTOS DEL GRID
            grid = $("#gridRoles").grid({
                uiLibrary: "bootstrap",
                minWidth: 600,
                columns: [
                    { field: "NOMBRE", title: "Nombre de rol", sortable: true, width: 200 },
                    { field: "DESCRIPCION", title: "Descripción", sortable: true, width: 200 },
                    { field: "PERMISOS", title: "Permisos asigandos" },
                    { title: "", field: "Edit", width: 42, type: "icon", icon: "glyphicon-pencil btn btn-default btn-xs", tooltip: "Editar", events: { "click": Edit } },
                    { title: "", field: "Delete", width: 42, type: "icon", icon: "glyphicon-trash btn btn-danger btn-xs", tooltip: "Eliminar", events: { "click": Remove } }
                ],

                pager: { enable: true, limit: 10, sizes: [5, 10, 20] }
            });


            //EVENTOS DE BOTONES
            $("#btnAgregar").on("click", Add);


            //VALIDACIONES DEL FORMULARIO
            $('#formRoles').formValidation({
                icon: {
                    valid: 'glyphicon glyphicon-ok',
                    invalid: 'glyphicon glyphicon-remove',
                    validating: 'glyphicon glyphicon-refresh'
                },
                fields: {
                    NOMBRE: {
                        validators: {
                            notEmpty: {
                                message: '@PropertiesBlo.msgRequerido'
                            }
                        }
                    },
                    DESCRIPCION: {
                        validators: {
                            notEmpty: {
                                message: '@PropertiesBlo.msgRequerido'
                            }
                        }
                    }
                }
            })
                //<<<<<FormValidation - Inicio de eventos de validacion>>>>>>>>>>
                .on('success.field.fv', function (e, data) {
                    var $parent = data.element.parents('.form-group');
                    $parent.removeClass('has-success');
                    data.element.data('fv.icon').hide();
                })
                .on('success.form.fv', function (e) {
                    e.preventDefault();
                    var $form = $(e.target);
                    var bv = $form.data('formValidation');


                    //Envio de datos
                    //Pace.track(function () {
                        $.ajax({ url: $form.attr('action'), type: "POST", data: $form.serialize() })
                         .done(function (data, textStatus, jqXHR) {
                             $("#myModal").modal("hide");
                             Mensajes(data.mensaje);
                             grid.reload();
                         })
                         .fail(function (data, textStatus, jqXHR) {
                             $("#myModal").modal("hide");
                             $().toastmessage('showErrorToast', "@PropertiesBlo.msgFallo");
                         });
                    //});

                });


            //AL CERRAR EL MODAL SE REESTABLECN LOS VALORES
            $('#myModal').on('hide.bs.modal', function () {
                $('#formRoles').trigger("reset"); // Resetea los valores de todos campos
                $("#formRoles").formValidation('resetForm'); // Elimina las clases de validacion
            })


            //SELECTS
            $('#ID_PERMISO').selectpicker({
                actionsBox: true,
                liveSearch: true,
                size: 6,
                selectAllText: "Todos",
                deselectAllText: "Ninguno",
                noneSelectedText: "Seleccione"
            });


        });
    </script>
}

<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        ROLES DE USUARIO
        <small>ADMINISTRACION</small>
    </h1>
</section>

<!-- Main content -->
<section class="content" style="padding-top:0;padding-bottom:0;">
    <div class="box box-primary" style="margin-bottom:0;">
        <div class="box-body">

            <div class="row">
                <div class="col-md-3">
                    <button type="button" id="btnAgregar" class="btn btn-primary pull-left"><span class='glyphicon glyphicon-plus'></span>@PropertiesBlo.btnNuevo</button>
                </div>
            </div>
            <div class="table-responsive" style="overflow-y: hidden;">
                @*Definicion de tabla y origen da datos (Metodo del controller)*@
                <table id="gridRoles" data-source="@Url.Action("GetRoles")"></table>
            </div>

        </div>
    </div><!-- /.box -->
</section><!-- /.content -->
<!--MODAL-->
<div id='myModal' class='modal fade' data-backdrop="static">
    <div class="modal-dialog">
        <form id="formRoles" action="/Roles/Save" method="post">


            <div class="panel panel-primary">
                <div class="panel-heading">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    Roles
                </div>
                <div class="panel-body">
                    <input id="ID" type="hidden" name="ID" value="">

                    <div class="form-group">
                        <label for="NOMBRE">Nombre</label>
                        <input class="form-control" id="NOMBRE" name="NOMBRE" type="text" value="" maxlength="25">
                    </div>

                    <div class="form-group">
                        <label for="DESCRIPCION">Descripción</label>
                        <textarea class="form-control" id="DESCRIPCION" name="DESCRIPCION" rows="3" maxlength="200"></textarea>
                    </div>

                    <div class="form-group">
                        <label for="ID_PERMISO">Permisos</label>
                        <select id="ID_PERMISO" name="ID_PERMISO" class="form-control" multiple>
                            @foreach (SEG_PERMISO item in (List<SEG_PERMISO>)ViewBag.permiso)
                            {
                                <option value=@item.ID>@item.DESCRIPCION</option>
                            }
                        </select>
                    </div>
                    <div class="form-group">
                        
                        <div class="box-footer box-comments">
                            <img class="img-circle img-sm" src="~/Content/Imagenes/warning.png">
                            <!-- /.box-comment -->
                            <div class="box-comment">
                                <div class="comment-text">
                                    <span class="username">
                                        <font>
                                            <font>
                                                Notificaciones:
                                            </font>
                                        </font>
                                    </span>
                                    <font>
                                        <font>
                                            Puede seleccionar una o varias de las notificaciones que se presentan a continuación. Estas podrán ser vistas por todos los usuarios que posean este rol, debe tomar en cuenta que esta configuración es solo para que los usuarios pueden ver las notificaciones desde la aplicación.
                                        </font>
                                    </font>
                                </div>
                            </div>
                        </div>
                        <br />
                        <div class="row">
                            <div class="col-md-6">
                                <label for="ALERTA_NOTIFICADA">Transacciones notificadas</label>
                                <input id="ALERTA_NOTIFICADA" name="ALERTA_NOTIFICADA" type="checkbox" value="true">
                                &nbsp;&nbsp;
                                <label for="ALERTA_ANALIZADA">Transacciones analizadas</label>
                                <input id="ALERTA_ANALIZADA" name="ALERTA_ANALIZADA" type="checkbox" value="true">
                            </div>
                            <div class="col-md-6">
                                <label for="ALERTA_OFICIO">Noficaciónes de oficios</label>
                                <input id="ALERTA_OFICIO" name="ALERTA_OFICIO" type="checkbox" value="true">
                                &nbsp;&nbsp;
                                <label for="ALERTA_PERSONA_LISTA">Noficaciónes de personas en listas</label>
                                <input id="ALERTA_PERSONA_LISTA" name="ALERTA_PERSONA_LISTA" type="checkbox" value="true">
                            </div>
                            <div class="col-md-6">
                                <label for="ALERTA_PERFIL_TRANSACCIONAL">Noficaciónes de Perfil Transaccional</label>
                                <input id="ALERTA_PERFIL_TRANSACCIONAL" name="ALERTA_PERFIL_TRANSACCIONAL" type="checkbox" value="true">
                            </div>
                        </div>
                    </div>
            </div>
                <div class="panel-footer text-right">
                    <button class="btn btn-default" data-dismiss="modal">@PropertiesBlo.btnCancelar</button>
                    <input type="submit" id="btnGuardar" value="@PropertiesBlo.btnGuardar" class="btn btn-primary">
                </div>
            </div>


        </form>
    </div>
</div>