@using Blo.Properties
@using Model
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Scripts {
    <script type="text/javascript">
        $(document).ready(function () {

            function limpiar() {
                $('#formReporte').trigger("reset"); // Resetea los valores de todos campos
                $("#formReporte").formValidation('resetForm'); // Elimina las clases de validacion
            }

            $("#btnLimpiar").on("click", limpiar);


            //VALIDACIONES DEL FORMULARIO
            $('#formReporte').formValidation({
                icon: {
                    valid: 'glyphicon glyphicon-ok',
                    invalid: 'glyphicon glyphicon-remove',
                    validating: 'glyphicon glyphicon-refresh'
                },
                fields: {
                    fechaInicial: {
                        validators: {
                            notEmpty: {
                                message: '@PropertiesBlo.msgRequerido'
                            },
                            date: {
                                format: '@PropertiesBlo.formatDate',
                                message: '@PropertiesBlo.msgFechaInvalida'
                            }
                        }
                    },
                    fechaFinal: {
                        validators: {
                            notEmpty: {
                                message: '@PropertiesBlo.msgRequerido'
                            },
                            date: {
                                format: '@PropertiesBlo.formatDate',
                                message: '@PropertiesBlo.msgFechaInvalida'
                            }
                        }
                    }
                }
            })
            .on('success.field.fv', function (e, data) {
                var $parent = data.element.parents('.form-group');
                $parent.removeClass('has-success');
                data.element.data('fv.icon').hide();
            })
           .on('success.form.fv', function (e) {
                e.preventDefault();
                var $form = $(e.target);
                var bv = $form.data('formValidation');


               //Envio de datos
                if($("#formato").val()=="PDF")
                    window.open("../RptOficioDetalle/Reporte?" + $form.serialize(), '_blank');
                else
                    location.href = "../RptOficioDetalle/Reporte?" + $form.serialize();


                $("#formReporte").formValidation('resetForm'); // Elimina las clases de validacion
            });



            //PERMITE VALIDAR LOS CAMPOS DE TIPO FECHA CUANDO CAMBIA SU VALOR
            $("#fechaInicial").change(function () {
                $('#formReporte').formValidation('revalidateField', 'fechaInicial');
            });

            $("#fechaFinal").change(function () {
                $('#formReporte').formValidation('revalidateField', 'fechaFinal');
            });


        });
    </script>
}


<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        DETALLE DE OFICIOS
        <small>REPORTES</small>
    </h1>
</section>


<!-- Main content -->
<section class="content" style="padding-top:0;padding-bottom:0;">
    <div class="box box-success" style="margin-bottom:0;">
    </div><!-- /.box -->
    <br />

    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">


            <!-- FORMULARIO -->
            <form id="formReporte">
                <div class="box box-success">
                    <div class="box-header with-border">
                        <h3 class="box-title">...</h3>
                        <div class="box-tools pull-right">
                            <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                        </div>
                    </div>


                    <div class="box-body">
                        <div class="form-group">
                            <label>Fecha inicial</label>
                            <input class="form-control dpicker" id="fechaInicial" name="fechaInicial" type="text" value="">
                        </div>
                        <div class="form-group">
                            <label>Fecha final</label>
                            <input class="form-control dpicker" id="fechaFinal" name="fechaFinal" type="text" value="">
                        </div>
                        <div class="form-group">
                            <label>Formato a exportar</label><br />
                            <select id="formato" name="formato" class="form-control">
                                <option value="PDF">PDF -- (vista previa)</option>
                                <option value="EXCEL">Excel  -- (descargar)</option>
                                <option value="WORD">Word -- (descargar)</option>
                            </select>
                        </div>
                    </div>


                    <div class="box-footer text-right">
                        <button type="button" id="btnLimpiar" class="btn btn-default">@PropertiesBlo.btnReporteLimpiar</button>
                        <input type="submit" id="btnGenerar" value="@PropertiesBlo.btnReporteGenerar" class="btn btn-success">
                    </div>


                </div>
            </form>
            <!-- /.FORMULARIO -->


        </div>
    </div>

</section><!-- /.content -->

