@using Blo.Properties
@using Model;
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Scripts {
    <script type="text/javascript">

        $(document).ready(function () {
            var editando = false;
            var grid;


            //PERMITE LLENAR LOS CAMPOS CONSUS CORESPONDIENTES VALORES
            function Edit(e) {
                editando = true;

                $("#ID").val(e.data.record.ID);
                $("#ID_INSTITUCION").val(e.data.record.ID_INSTITUCION);
                $("#ID_INSTITUCION").change();
                $("#ID_TITULO").val(e.data.record.ID_TITULO);
                $("#ID_TITULO").change();

                ObtenerUnidadesCargosPorInstitucion($("#ID_INSTITUCION").val(), e.data.record.ID_UNIDAD, e.data.record.ID_CARGO_INSTITUCION);

                $("#NOMBRE").val(e.data.record.NOMBRE);
                $("#myModal").modal("show");
            }


            //REALIZA LA LLAMADA A UN MODAL PARA UN NUEVO REGUISTRO
            function Add() {
                $("#ID").val(""); //campos ocultos
                $("#ID_INSTITUCION").val("");
                $("#ID_INSTITUCION").change();
                $("#ID_TITULO").val("");
                $("#ID_TITULO").change();

                $("#ID_UNIDAD").empty();
                $("#ID_CARGO_INSTITUCION").empty();

                $("#myModal").modal("show");
            }


            //EVENTO PARA ELIMINAR UN REGISTRO
            function Remove(e) {
                bootbox.confirm("@PropertiesBlo.msgConfirmacion", function (result) {
                    if (result) {
                        $.ajax({ url: "../ContactoInstitucion/Remove", type: "POST", data: { id: e.data.record.ID } })
                      .done(function (data, textStatus, jqXHR) {
                          grid.reload();
                          Mensajes(data.mensaje);
                      })
                      .fail(function (data, textStatus, jqXHR) {
                          $().toastmessage('showErrorToast', "@PropertiesBlo.msgFallo");
                      });
                    }
                });
            }


            //AQUI SE ESTABLACEN LAS PROPIEDADES Y EVENTOS DEL GRID
            grid = $("#gridContactoInstitucion").grid({
                uiLibrary: "bootstrap",
                minWidth: 600,
                columns: [
                    { field: "NOMBRE", title: "Contacto", sortable: true },
                    { field: "NOMBRECARGOINST", title: "Cargo" },
                    { field: "NOMBREINSTITUCION", title: "Institución" },
                    { field: "NOMBREUNIDAD", title: "Unidad" },
                    { title: "", field: "Edit", width: 42, type: "icon", icon: "glyphicon-pencil btn btn-default btn-xs", tooltip: "Editar", events: { "click": Edit } },
                    { title: "", field: "Delete", width: 42, type: "icon", icon: "glyphicon-trash btn btn-danger btn-xs", tooltip: "Eliminar", events: { "click": Remove } }
                ],

                pager: { enable: true, limit: 10, sizes: [5, 10, 20] }
            });


            //EVENTOS DE BOTONES
            $("#btnAgregar").on("click", Add);


            //VALIDACIONES DEL FORMULARIO
            $('#formContactoInstitucion').formValidation({
                icon: {
                    valid: 'glyphicon glyphicon-ok',
                    invalid: 'glyphicon glyphicon-remove',
                    validating: 'glyphicon glyphicon-refresh'
                },
                fields: {
                    ID_INSTITUCION: {
                        validators: {
                            notEmpty: {
                                message: '@PropertiesBlo.msgRequerido'
                            }
                        }
                    },
                    ID_UNIDAD: {
                        validators: {
                            notEmpty: {
                                message: '@PropertiesBlo.msgRequerido'
                            }
                        }
                    },
                    ID_CARGO_INSTITUCION: {
                        validators: {
                            notEmpty: {
                                message: '@PropertiesBlo.msgRequerido'
                            }
                        }
                    },
                    ID_TITULO: {
                        validators: {
                            notEmpty: {
                                message: '@PropertiesBlo.msgRequerido'
                            }
                        }
                    },
                    NOMBRE: {
                        validators: {
                            notEmpty: {
                                message: '@PropertiesBlo.msgRequerido'
                            }
                        }
                    }
                }
            })
        //<<<<<FormValidation - Inicio de eventos de validacion>>>>>>>>>>
                .on('success.field.fv', function (e, data) {
                    var $parent = data.element.parents('.form-group');
                    $parent.removeClass('has-success');
                    data.element.data('fv.icon').hide();
                })
        .on('success.form.fv', function (e) {
            e.preventDefault();
            var $form = $(e.target);
            var bv = $form.data('formValidation');


            //Envio de datos
            $.ajax({ url: $form.attr('action'), type: "POST", data: $form.serialize() })
             .done(function (data, textStatus, jqXHR) {
                 $("#myModal").modal("hide");
                 Mensajes(data.mensaje);
                 grid.reload();
             })
             .fail(function (data, textStatus, jqXHR) {
                 $("#myModal").modal("hide");
                 $().toastmessage('showErrorToast', "@PropertiesBlo.msgFallo");
             });

        });


            //AL CERRAR EL MODAL SE REESTABLECN LOS VALORES
            $('#myModal').on('hide.bs.modal', function () {
                $('#formContactoInstitucion').trigger("reset"); // Resetea los valores de todos campos
                $("#formContactoInstitucion").formValidation('resetForm'); // Elimina las clases de validacion
            })


            //=============================================
            //IMPLEMENTACION UNIDADES Y CARGOS POR INSTITUCION
            //=============================================

            function ObtenerUnidadesCargosPorInstitucion(idInstitucion, idUnidad, idCargo) {
                Pace.ignore(function () {
                    $.post('@Url.Action("ObtenerUnidadesCargosPorInstitucion")', { idInstitucion: idInstitucion }, function (response) {

                        $("#ID_UNIDAD").empty();
                        $("#ID_CARGO_INSTITUCION").empty();

                        $("#ID_UNIDAD").append("<option value=''>Seleccione ...</option>");
                        $.each(response.unidades, function (i, item) {
                            $("#ID_UNIDAD").append("<option value='" + item.ID + "'>" + item.DESCRIPCION + "</option>");
                        });

                        $("#ID_CARGO_INSTITUCION").append("<option value=''>Seleccione ...</option>");
                        $.each(response.cargos, function (i, item) {
                            $("#ID_CARGO_INSTITUCION").append("<option value='" + item.ID + "'>" + item.NOMBRE + "</option>");
                        });

                        //Seleccionar valor predetermindo
                        $("#ID_UNIDAD").val(idUnidad);
                        $("#ID_UNIDAD").change();
                        $("#ID_CARGO_INSTITUCION").val(idCargo);
                        $("#ID_CARGO_INSTITUCION").change();

                        editando = false;

                    }, 'json');
                });
            }

            // UNIDADES X INSTITUCION EN SOLICITANTE
            $("#ID_INSTITUCION").change(function () {
                if (!editando)
                    ObtenerUnidadesCargosPorInstitucion($(this).val(), "", "");
            });


        });
    </script>
}

<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        CONTACTO INSTITUCION
        <small>MONITOREO</small>
    </h1>
</section>

<!-- Main content -->
<section class="content" style="padding-top:0;padding-bottom:0;">
    <div class="box box-primary" style="margin-bottom:0;">
        <div class="box-body">

            <div class="row">
                <div class="col-md-3">
                    <button type="button" id="btnAgregar" class="btn btn-primary pull-left"><span class='glyphicon glyphicon-plus'></span>@PropertiesBlo.btnNuevo</button>
                </div>
            </div>
            <div class="table-responsive" style="overflow-y: hidden;">
                @*Definicion de tabla y origen da datos (Metodo del controller)*@
                <table id="gridContactoInstitucion" data-source="@Url.Action("GetContactoInstitucion")"></table>
            </div>

        </div>
    </div><!-- /.box -->
</section><!-- /.content -->
<!--MODAL-->
<div id='myModal' class='modal fade' data-backdrop="static">
    <div class="modal-dialog">
        <form id="formContactoInstitucion" action="/ContactoInstitucion/Save" method="post">


            <div class="panel panel-primary">
                <div class="panel-heading">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    Contacto institución
                </div>
                <div class="panel-body">
                    <input id="ID" type="hidden" name="ID" value="">
                    <div class="form-group">
                        <label for="ID_TITULO">Título</label><br>
                        <select id="ID_TITULO" name="ID_TITULO" class="form-control select2-single">
                            <option value="">Seleccione ...</option>
                            @foreach (LIS_CAT_TITULOS item in (List<LIS_CAT_TITULOS>)ViewBag.titulo)
                            {
                                <option value=@item.ID>@item.DESCRIPCION.Trim()</option>
                            }
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="NOMBRE">Nombre</label>
                        <input class="form-control" id="NOMBRE" name="NOMBRE" type="text" value="" maxlength="150">
                    </div>
                    <div class="form-group">
                        <label for="ID_INSTITUCION">Institución</label><br>
                        <select id="ID_INSTITUCION" name="ID_INSTITUCION" class="form-control select2-single">
                            <option value="">Seleccione ...</option>
                            @foreach (MON_CAT_INSTITUCION item in (List<MON_CAT_INSTITUCION>)ViewBag.institucion)
                            {
                                <option value=@item.ID>@item.NOMBRE</option>
                            }
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="ID_UNIDAD">Unidad</label><br>
                        <select id="ID_UNIDAD" name="ID_UNIDAD" class="form-control select2-single">
                            <option value="">Seleccione ...</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="ID_CARGO_INSTITUCION">Cargo</label><br>
                        <select id="ID_CARGO_INSTITUCION" name="ID_CARGO_INSTITUCION" class="form-control select2-single">
                            <option value="">Seleccione ...</option>
                        </select>
                    </div>

                </div>
                <div class="panel-footer text-right">
                    <button class="btn btn-default" data-dismiss="modal">@PropertiesBlo.btnCancelar</button>
                    <input type="submit" id="btnGuardar" value="@PropertiesBlo.btnGuardar" class="btn btn-primary">
                </div>
            </div>


        </form>
    </div>
</div>