@using Blo.Properties
@using Model
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Scripts {
    <script type="text/javascript">

        function Imprimir(formato) {
            if (formato == "PDF")
                window.open("../RptListaONU/Reporte?formato=PDF", '_blank');
            else
                location.href = "../RptListaONU/Reporte?formato=" + formato;
        }

        function ImprimirDetalle(formato) {
            if (formato == "PDF")
                window.open("../RptListaONUDetalle/Reporte?formato=PDF&idPersona=" + $("#ID_PERSONAD").val(), '_blank');
            else
                location.href = "../RptListaONUDetalle/Reporte?formato=" + formato + "&idPersona=" + $("#ID_PERSONAD").val();
        }


        $(document).ready(function () {
            var grid;
            var gridAlias;
            var gridCargaDatos;



            gridCargaDatos = $("#gridCargaDatos").grid({
                uiLibrary: "bootstrap",
                minWidth: 500,
                dataSource: "@Url.Action("GetEstadoCargaDatos")",
                columns: [
                    { field: "ESTADO", title: "Estado" },
                    { field: "MENSAJE", title: "Mensaje" }
                ],
                pager: { enable: true }
            });

            gridCargaDatos.on("cellDataBound", function (e, $wrapper, id, column, record) {
                if (column.field == "ESTADO") {
                    if (record.ESTADO.indexOf("@SEG_CARGAR_DATOS.ESTADO_ENPROCESO") > -1) {
                        $("#gridCargaDatos").show();
                        $("#gridONU").hide();
                        $("#btnBloqueo").hide();
                    }
                    else if (record.ESTADO.indexOf("@SEG_CARGAR_DATOS.ESTADO_ERROR") > -1)
                    {
                        $("#gridCargaDatos").show();
                        $("#btnBloqueo").show();
                        $("#gridONU").hide();
                    }
                    else {
                        $("#gridCargaDatos").hide();
                        $("#gridONU").show();
                        $("#btnBloqueo").show();
                        grid.reload();
                    }
                }
            });

            //EVENTO PARA ACTUALIZAR LA LISTA
            function Update(e) {
                bootbox.confirm("@PropertiesBlo.msgConfirmacionLista", function (result) {
                    if (result) {
                        $.ajax({ url: "../ONU/Save", type: "POST" })
                      .done(function (data, textStatus, jqXHR) {

                          window.setTimeout(function () {
                              gridCargaDatos.reload();
                          }, 2000 /*2 segundo*/);

                          //  Mensajes(data.mensaje);
                          $().toastmessage('showWarningToast', "@PropertiesBlo.msgProcesando");
                      })
                          .fail(function (data, textStatus, jqXHR) {
                              $().toastmessage('showErrorToast', jqXHR);
                          });
                    }
                });
            }

            //REALIZA LA LLAMADA A UN MODAL PARA MOSTRAR DETALLE
            function ShowDetail(e) {
                $("#ID_PERSONAD").val(e.data.record.ID); //campos ocultos
                $("#DATA_ID").val(e.data.record.DATA_ID);
                $("#VERSION_NUM").val(e.data.record.VERSION_NUM);
                $("#TIPO").val(e.data.record.TIPO);
                $("#NOMBRE").val(e.data.record.NOMBRE);
                $("#NATIONALITY").val(e.data.record.NATIONALITY);
                $("#UN_LIST_TYPE").val(e.data.record.UN_LIST_TYPE);
                $("#REFERENCE_NUMBER").val(e.data.record.REFERENCE_NUMBER);
                $("#LISTED_ON").val(formatDate(e.data.record.LISTED_ON, 'dd/mm/yyyy'));
                $("#COMMENTS").val(e.data.record.COMMENTS);

                gridAlias.reload({ page: 1, ID_LIS_ONU: e.data.record.ID });
                gridDocumento.reload({ page: 1, ID_LIS_ONU: e.data.record.ID });
                gridDireccion.reload({ page: 1, ID_LIS_ONU: e.data.record.ID });

                $("#myModal").modal("show");
            }

            //EVENTO QUE PERMITE BUSCAR POR TODOS LOS CAMPOS
            function Search() {
                grid.reload({ page: 1, searchString: $("#txtBuscar").val() });
            }

            $('#txtBuscar').keypress(function (e) {
                if (e.which == 13) {
                    Search();
                }
            });

            //AQUI SE ESTABLACEN LAS PROPIEDADES Y EVENTOS DEL GRID
            grid = $("#gridONU").grid({
                uiLibrary: "bootstrap",
                minWidth: 600,
                dataSource: "@Url.Action("GetONU")",
                autoLoad: false,
                columns: [
                    { field: "DATA_ID", title: "Data ID" },
                    { field: "TIPO", title: "Tipo", sortable: true },
                    { field: "NOMBRE", title: "Nombre", sortable: true },
                    { field: "UN_LIST_TYPE", title: "Lista", sortable: true },
                    { field: "NATIONALITY", title: "Nacionalidad", sortable: true },
                    { title: "", field: "Edit", width: 42, type: "icon", icon: "glyphicon-list-alt btn btn-default btn-xs", tooltip: "Detalle", events: { "click": ShowDetail } }
                ],

                pager: { enable: true, limit: 10, sizes: [5, 10, 20] }
            });

            gridAlias = $("#gridAlias").grid({
                uiLibrary: "bootstrap",
                minWidth: 500,
                dataSource: "@Url.Action("GetONUAlias")",
                autoLoad: false,
                columns: [
                    { field: "ALIAS_NAME", title: "Alias" },
                    { field: "QUALITY", title: "Calidad" },
                    { field: "COUNTRY_OF_BIRTH", title: "Pais" },
                    { field: "CITY_OF_BIRTH", title: "Ciudad" },
                    { field: "NOTE", title: "Nota" }
                ],

                pager: { enable: true, limit: 10, sizes: [5, 10, 20] }
            });

            gridDocumento = $("#gridDocumento").grid({
                uiLibrary: "bootstrap",
                minWidth: 500,
                dataSource: "@Url.Action("GetONUDocumento")",
                autoLoad: false,
                columns: [
                    { field: "TYPE", title: "Tipo" },
                    { field: "NUMBER", title: "Número" },
                    { field: "COUNTRY", title: "País" },
                    { field: "NOTE", title: "Nota" }
                ],

                pager: { enable: true, limit: 10, sizes: [5, 10, 20] }
            });

            gridDireccion = $("#gridDireccion").grid({
                uiLibrary: "bootstrap",
                minWidth: 500,
                dataSource: "@Url.Action("GetONUDireccion")",
                autoLoad: false,
                columns: [
                    { field: "COUNTRY", title: "País" },
                    { field: "CITY", title: "Ciudad" },
                    { field: "STATE_PROVINCE", title: "Estado o provincia" },
                    { field: "STREET", title: "Calle" },
                    { field: "NOTE", title: "Nota" }
                ],

                pager: { enable: true, limit: 10, sizes: [5, 10, 20] }
            });

            //EVENTOS DE BOTONES
            $("#btnActualizar").on("click", Update);
            $("#btnBuscar").on("click", Search);

        });
    </script>
}

<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        LISTA ONU
        <small>LISTAS</small>
    </h1>
</section>

<!-- Main content -->
<section class="content" style="padding-top:0;padding-bottom:0;">
    <div class="box box-primary" style="margin-bottom:0;">
        <div class="box-body">

            <div id="btnBloqueo" class="row" style="display:none;">
                <div class="col-md-4">
                    <button type="button" id="btnActualizar" class="btn btn-primary"><span class='glyphicon glyphicon-refresh'></span>@PropertiesBlo.btnActualizar</button>
                    <div class="btn-group">
                        <button type="button" class="btn bg-black btn-flat"><span class='fa fa-clone'></span>@PropertiesBlo.btnImprimirLista</button>
                        <button type="button" class="btn btn-primary btn-flat dropdown-toggle" data-toggle="dropdown">
                            <span class="caret"></span>
                            <span class="sr-only">Toggle Dropdown</span>
                        </button>
                        <ul class="dropdown-menu " role="menu">
                            <li><a href="javascript:void(0)" onclick="Imprimir('PDF')">@PropertiesBlo.impresionPDF</a></li>
                            <li class="divider"></li>
                            <li><a href="javascript:void(0)" onclick="Imprimir('EXCEL')">@PropertiesBlo.impresionEXCEL</a></li>
                            <li class="divider"></li>
                            <li><a href="javascript:void(0)" onclick="Imprimir('WORD')">@PropertiesBlo.impresionWORD</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="input-group pull-right">
                        <input type="text" id="txtBuscar" class="form-control" placeholder="Buscar ...">
                        <span class="input-group-btn">
                            <button type="submit" id="btnBuscar" class="btn btn-primary"><span class='glyphicon glyphicon glyphicon-search'></span></button>
                        </span>
                    </div>
                </div>
            </div>
            <div class="table-responsive" style="overflow-y: hidden;">
                @*Definicion de tabla y origen da datos (Metodo del controller)*@
                <table id="gridCargaDatos" style="display:none;"></table>
                <table id="gridONU" style="display:none;"></table>
            </div>

        </div>
    </div><!-- /.box -->
</section><!-- /.content -->
<!--MODAL-->
<div id='myModal' class='modal fade custom-width in'>
    <div class="modal-dialog" style="width :90%">
        <form id="formONUDetalle">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    Detalle persona en lista ONU
                </div>
                <div class="panel-body">

                    <input type="hidden" class="form-control" id="ID_PERSONAD" name="ID_PERSONAD" readonly>

                    <div class="row">
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="DATA_ID">DATA ID:</label>
                                <input class="form-control" id="DATA_ID" name="DATA_ID" readonly>
                            </div>
                            <div class="form-group">
                                <label for="VERSION_NUM">VERSION NUM:</label>
                                <input class="form-control" id="VERSION_NUM" name="VERSION_NUM" readonly>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="TIPO">Tipo:</label>
                                <input class="form-control" id="TIPO" name="TIPO" readonly>
                            </div>
                            <div class="form-group">
                                <label for="NOMBRE">Nombre:</label>
                                <input class="form-control" id="NOMBRE" name="NOMBRE" readonly>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="NATIONALITY">Nacionalidad:</label>
                                <input class="form-control" id="NATIONALITY" name="NATIONALITY" readonly>
                            </div>
                            <div class="form-group">
                                <label for="UN_LIST_TYPE">Tipo de lista:</label>
                                <input class="form-control" id="UN_LIST_TYPE" name="UN_LIST_TYPE" readonly>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="REFERENCE_NUMBER">Número de referencia:</label>
                                <input class="form-control" id="REFERENCE_NUMBER" name="REFERENCE_NUMBER" readonly>
                            </div>
                            <div class="form-group">
                                <label for="LISTED_ON">Fecha de listado:</label>
                                <input class="form-control" id="LISTED_ON" name="LISTED_ON" readonly>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="COMMENTS">Comentarios:</label>
                                <textarea class="form-control" id="COMMENTS" name="COMMENTS" rows="3" readonly></textarea>
                            </div>
                        </div>
                    </div>
                    <!-- ***** HR TABLAS***** -->
                    <hr />

                    <div class="row">
                        <div class="col-md-12">
                            <div class="box box-primary collapsed-box box-solid">
                                <div class="box-header with-border">
                                    <h3 class="box-title">Alias</h3>
                                    <div class="box-tools pull-right">
                                        <button type="button" class="btn btn-box-tool" data-widget="collapse">
                                            <i class="fa fa-plus"></i>
                                        </button>
                                    </div><!-- /.box-tools -->
                                </div><!-- /.box-header -->
                                <div class="box-body">
                                    <div class="table-responsive" style="overflow-y: hidden;">
                                        @*Definicion de tabla y origen da datos (Metodo del controller)*@
                                        <table id="gridAlias"></table>
                                    </div>
                                </div><!-- /.box-body -->
                            </div><!-- /.box -->
                        </div>
                    </div>


                    <div class="row">
                        <div class="col-md-12">
                            <div class="box box-primary collapsed-box box-solid">
                                <div class="box-header with-border">
                                    <h3 class="box-title">Documentos</h3>
                                    <div class="box-tools pull-right">
                                        <button type="button" class="btn btn-box-tool" data-widget="collapse">
                                            <i class="fa fa-plus"></i>
                                        </button>
                                    </div><!-- /.box-tools -->
                                </div><!-- /.box-header -->
                                <div class="box-body">
                                    <div class="table-responsive" style="overflow-y: hidden;">
                                        @*Definicion de tabla y origen da datos (Metodo del controller)*@
                                        <table id="gridDocumento"></table>
                                    </div>
                                </div><!-- /.box-body -->
                            </div><!-- /.box -->
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <div class="box box-primary collapsed-box box-solid">
                                <div class="box-header with-border">
                                    <h3 class="box-title">Direcciones</h3>
                                    <div class="box-tools pull-right">
                                        <button type="button" class="btn btn-box-tool" data-widget="collapse">
                                            <i class="fa fa-plus"></i>
                                        </button>
                                    </div><!-- /.box-tools -->
                                </div><!-- /.box-header -->
                                <div class="box-body">
                                    <div class="table-responsive" style="overflow-y: hidden;">
                                        @*Definicion de tabla y origen da datos (Metodo del controller)*@
                                        <table id="gridDireccion"></table>
                                    </div>
                                </div><!-- /.box-body -->
                            </div><!-- /.box -->
                        </div>
                    </div>

                </div>

                <div class="panel-footer text-center">
                    <div class="btn-group">
                        <button type="button" class="btn bg-black btn-flat"><span class='fa fa-clone'></span>@PropertiesBlo.btnImprimirDetalle</button>
                        <button type="button" class="btn btn-primary btn-flat dropdown-toggle" data-toggle="dropdown">
                            <span class="caret"></span>
                            <span class="sr-only">Toggle Dropdown</span>
                        </button>
                        <ul class="dropdown-menu " role="menu">
                            <li><a href="javascript:void(0)" onclick="ImprimirDetalle('PDF')">@PropertiesBlo.impresionPDF</a></li>
                            <li class="divider"></li>
                            <li><a href="javascript:void(0)" onclick="ImprimirDetalle('EXCEL')">@PropertiesBlo.impresionEXCEL</a></li>
                            <li class="divider"></li>
                            <li><a href="javascript:void(0)" onclick="ImprimirDetalle('WORD')">@PropertiesBlo.impresionWORD</a></li>
                        </ul>
                    </div>
                    <button class="btn btn-default" data-dismiss="modal">@PropertiesBlo.btnSalir</button>
                </div>
            </div>

        </form>
    </div>
</div>
