@using Blo.Properties
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Scripts {
    <script type="text/javascript">
    $(document).ready(function () {
        var grid;

        //PERMITE LLENAR LOS CAMPOS CONSUS CORESPONDIENTES NIVELES
        function Edit(e) {
            $("#ID").val(e.data.record.ID);
            $("#DESCRIPCION").val(e.data.record.DESCRIPCION);
            $("#VALORMIN").val(e.data.record.VALORMIN);
            $("#VALORMAX").val(e.data.record.VALORMAX);
            $("#COLOR").colorpicker('setValue', e.data.record.COLOR);
            $("#myModal").modal("show");
        }

        //REALIZA LA LLAMADA A UN MODAL PARA UN NUEVO REGUISTRO
        function Add() {
            $("#ID").val(""); //campos ocultos
            $("#COLOR").colorpicker('setValue', '#000000');
            $("#myModal").modal("show");
        }

        //EVENTO PARA ELIMINAR UN REGISTRO
        function Remove(e) {
            bootbox.confirm("@PropertiesBlo.msgConfirmacion", function (result) {
                if (result) {
                    $.ajax({ url: "../TipoCalificacion/Remove", type: "POST", data: { id: e.data.record.ID } })
                  .done(function (data, textStatus, jqXHR) {
                      grid.reload();
                      Mensajes(data.mensaje);
                  })
                  .fail(function (data, textStatus, jqXHR) {
                      $().toastmessage('showErrorToast', "@PropertiesBlo.msgFallo");
                  });
                }
            });
        }

        //AQUI SE ESTABLACEN LAS PROPIEDADES Y EVENTOS DEL GRID
        grid = $("#gridTipoCalificacion").grid({
            uiLibrary: "bootstrap",
            minWidth: 600,
            columns: [
                { field: "DESCRIPCION", title: "Descripción", sortable: true },
                { field: "VALORMIN", title: "Valor mínimo", align: 'center', sortable: true },
                { field: "VALORMAX", title: "Valor máximo", align: 'center', sortable: true },
                { field: "COLOR", title: "Color", align: 'center' },
                { title: "", field: "Edit", width: 42, type: "icon", icon: "glyphicon-pencil btn btn-default btn-xs", tooltip: "Editar", events: { "click": Edit } },
                { title: "", field: "Delete", width: 42, type: "icon", icon: "glyphicon-trash btn btn-danger btn-xs", tooltip: "Eliminar", events: { "click": Remove } }
            ],

            pager: { enable: true, limit: 10, sizes: [5, 10, 20] }
        });

        grid.on("cellDataBound", function (e, $wrapper, id, column, record) {
            if (column.field == "COLOR") {
                $wrapper.html("<button  class='btn btn-lg' style='background-color:" + record.COLOR + ";'></button>");
            }
        });

        //EVENTOS DE BOTONES
        $("#btnAgregar").on("click", Add);

        //VALIDACIONES DEL FORMULARIO
        $('#formTipoCalificacion').formValidation({
            icon: {
                valid: 'glyphicon glyphicon-ok',
                invalid: 'glyphicon glyphicon-remove',
                validating: 'glyphicon glyphicon-refresh'
            },
            fields: {
                DESCRIPCION: {
                    validators: {
                        notEmpty: {
                            message: '@PropertiesBlo.msgRequerido'
                        }
                    }
                },
                VALORMIN: {
                    validators: {
                        notEmpty: {
                            message: '@PropertiesBlo.msgRequerido'
                        }
                    }
                },
                VALORMAX: {
                    validators: {
                        notEmpty: {
                            message: '@PropertiesBlo.msgRequerido'
                        }
                    }
                },
                COLOR: {
                    validators: {
                        notEmpty: {
                            message: '@PropertiesBlo.msgRequerido'
                        }
                    }
                }
            }
        })
            //<<<<<FormValidation - Inicio de eventos de validacion>>>>>>>>>>
            .on('success.field.fv', function (e, data) {
                var $parent = data.element.parents('.form-group');
                $parent.removeClass('has-success');
                data.element.data('fv.icon').hide();
            })
            .on('success.form.fv', function (e) {
                e.preventDefault();
                var $form = $(e.target);
                var bv = $form.data('formValidation');

                //Envio de datos
                $.ajax({
                    url: $form.attr('action'),
                    type: "POST",
                    data: $form.serialize(),
                    dataType: "json",
                    success: function (data, textStatus, jqXHR) {

                        Mensajes(data.mensaje);
                        $("#myModal").modal("hide");
                        grid.reload();
                    },
                    error: function (jqXHR, textStatus, errorThrown) {
                        $().toastmessage('showErrorToast', "@PropertiesBlo.msgFallo");
                    }
                });


            });

        //AL CERRAR EL MODAL SE REESTABLECN LOS NIVELES
        $('#myModal').on('hide.bs.modal', function () {
            $('#formTipoCalificacion').trigger("reset"); // Resetea los NIVELes de todos campos
            $("#formTipoCalificacion").formValidation('resetForm'); // Elimina las clases de validacion
        })

        //SELECCIONAR COLOR
        $(function () {
            $('#cp2').colorpicker({
                format: 'hex'
            });
        });

    });
    </script>
}

<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        TIPOS DE CALIFICACION
        <small>PERFIL</small>
    </h1>
</section>

<!-- Main content -->
<section class="content" style="padding-top:0;padding-bottom:0;">
    <div class="box box-primary" style="margin-bottom:0;">
        <div class="box-body">

            <div class="row">
                <div class="col-md-3">
                    <button type="button" id="btnAgregar" class="btn btn-primary pull-left"><span class='glyphicon glyphicon-plus'></span>@PropertiesBlo.btnNuevo</button>
                </div>
            </div>
            <div class="table-responsive" style="overflow-y: hidden;">
                @*Definicion de tabla y origen da datos (Metodo del controller)*@
                <table id="gridTipoCalificacion" data-source="@Url.Action("GetTipoCalificacion")"></table>
            </div>

        </div>
    </div><!-- /.box -->
</section><!-- /.content -->
<!--MODAL-->
<div id='myModal' class='modal fade' data-backdrop="static">
    <div class="modal-dialog">
        <form id="formTipoCalificacion" action="/TipoCalificacion/Save" method="post">

            <div class="panel panel-primary">
                <div class="panel-heading">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    Tipos de Calificación
                </div>
                <div class="panel-body">
                    <input id="ID" type="hidden" name="ID" value="">

                    <div class="form-group">
                        <label for="DESCRIPCION">Descripción</label>
                        <textarea class="form-control" id="DESCRIPCION" name="DESCRIPCION" rows="3" maxlength="200"></textarea>
                    </div>

                    <div class="form-group">
                        <label for="VALORMIN">Valor mínimo</label>
                        <input class="form-control numeric" id="VALORMIN" name="VALORMIN" type="text" value="">
                    </div>

                    <div class="form-group">
                        <label for="VALORMAX">Valor máximo</label>
                        <input class="form-control numeric" id="VALORMAX" name="VALORMAX" type="text" value="">
                    </div>

                    <div class="form-group">
                        <label for="COLOR">Color</label>
                        <div id="cp2" class="input-group colorpicker-component">
                            <input class="form-control" id="COLOR" name="COLOR" type="text" maxlength="7"/>
                            <span class="input-group-addon"><i></i></span>
                        </div>
                    </div>

                </div>
                <div class="panel-footer text-right">
                    <button class="btn btn-default" data-dismiss="modal">@PropertiesBlo.btnCancelar</button>
                    <input type="submit" id="btnGuardar" value="@PropertiesBlo.btnGuardar" class="btn btn-primary">
                </div>
            </div>

        </form>
    </div>
</div>
